---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
---
<Base title="sub3 engineering">
  <Nav />
  <div style="padding: 8rem 3rem; color: #D4FF00; font-size: 2rem;">sub3 engineering</div>
</Base>
